In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
#How many rows does our dataframe have? 

#How many columns does it have?

#What are the labels for the columns? Do the columns have names?


#Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [ ]:
df.shape # 51 rows, 6 columns

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [ ]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [ ]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [ ]:
top_starting_salary_id = clean_df['Starting Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[top_starting_salary_id]

'Physician Assistant'

In [ ]:
top_mid_career_salary_id = clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[top_mid_career_salary_id]

'Chemical Engineering'

In [ ]:
lowest_starting_career_salary_id = clean_df['Starting Median Salary'].idxmin()
print(clean_df['Undergraduate Major'].loc[lowest_starting_career_salary_id])
print(clean_df['Starting Median Salary'].loc[lowest_starting_career_salary_id])

Spanish
34000.0

In [ ]:
clean_df['Mid-Career 90th Percentile Salary']-clean_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary']-clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
clean_df.insert(1, 'Spread', spread_col)

In [ ]:
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
low_risk = clean_df.sort_values('Spread')

In [ ]:
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [ ]:
high_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [ ]:
high_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salaryb']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [ ]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format  
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

# Extension - Scraping with beautiful Soup

In [1]:
import requests
from bs4 import BeautifulSoup

In [ ]:
def get_salary_data():
  # Construct the URL for the Payscale salary search
  url = f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"

  # Send the request to Payscale
  response = requests.get(url)
  
#   print(response.content)

  # Parse the HTML of the salary search results page
  soup = BeautifulSoup(response.text, "html.parser")
  
  # Find the salary data in the page
  salary_data = soup.find_all("tr", {"class": "data-table__row"})

  # Return the salary data
  return salary_data
  
# Example usage
salary_data = get_salary_data()

salary_list = []

for row in salary_data:

    cells = row.findChildren('td')
    row_data = {}

    rank = 'tbc'
    major = 'tbc'
    degree_type = 'tbc' 
    early_career_pay = 'tbc'
    mid_career_pay = 'tbc'
    high_meaning = 'tbc'

    for cell in cells:
        data = cell.find('span', {'class': 'data-table__value'}).string
        if "Rank" in str(cell): row_data['rank'] = data
        if "Major" in str(cell): row_data['major'] = data
        if "Degree Type" in str(cell): row_data['degree_type'] = data
        if "Early Career Pay" in str(cell): row_data['early_career_pay'] = data
        if "Mid-Career Pay" in str(cell): row_data['mid_career_pay'] = data
        if "High Meaning" in str(cell): row_data['high_meaning'] = data

    # print(f'row data = {row_data}')
    salary_list.append(row_data)

print(salary_list)

In [7]:
new_pd = pd.DataFrame.from_dict(salary_list)

In [9]:
new_pd

,rank,major,degree_type,early_career_pay,high_meaning
0,1,Petroleum Engineering,Bachelors,"$93,200",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500",46%
3,4,Interaction Design,Bachelors,"$68,300",55%
4,5,Public Accounting,Bachelors,"$59,800",47%
5,6,Operations Research,Bachelors,"$83,500",54%
6,7,Applied Economics and Management,Bachelors,"$66,100",67%
7,8,Business Computing (BC),Bachelors,"$73,000",-
8,9,Actuarial Mathematics,Bachelors,"$64,300",51%
9,10,Electrical Power Engineering,Bachelors,"$76,100",68%
10,11,Information & Computer Science,Bachelors,"$58,600",62%
11,12,Aeronautics & Astronautics,Bachelors,"$77,600",56%
12,13,Systems Engineering,Bachelors,"$77,700",53%
13,14,Econometrics,Bachelors,"$64,200",35%
14,15,Pharmacy,Bachelors,"$68,600",78%
15,16,Aerospace Studies,Bachelors,"$55,800",-
16,17,Building Science,Bachelors,"$53,800",53%
17,17,Chemical Engineering,Bachelors,"$76,900",55%
18,19,Cognitive Science,Bachelors,"$68,700",42%
19,20,Actuarial Science,Bachelors,"$67,700",43%
20,21,Political Economy,Bachelors,"$65,100",29%
21,22,Computer Systems Engineering,Bachelors,"$79,000",51%
22,23,Electrical & Computer Engineering (ECE),Bachelors,"$78,100",49%
23,24,Computer Science (CS) & Engineering,Bachelors,"$79,400",44%
24,24,Marine Engineering,Bachelors,"$79,900",60%